.ant-message-custom-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-notification-notice-with-icon .anticon.anticon-close-circle {
  width: auto;
  height: auto;
  top: auto;
}
