@import "styles/colors";
@import "styles/labels";
@import "styles/input";

.authForm, .authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authPage {
  gap: 32px;
}

.authForm {
  .ant-form-item .ant-form-item-label >label {
    color: $primary;
  }
}

.authInput {
  width: $inputWidth;
}

.authButton {
  width: $inputWidth;
  margin-top: 6px;
}

.authWelcome {
  font-family: $montserratBold;
  font-size: 64px;
  color: $primary;
  text-align: center;
}

.authLabel {
  font-family: $montserratBold;
  margin-bottom: 22px;
  font-size: 36px;
  color: $primary;
  text-align: center;
}

.noAccount, .forgotPassword {
  color: #8692A6;
}

.noAccountSignUp {
  color: $primary;
  cursor: pointer;
}

.forgotPassword {
  cursor: pointer;
}

.authFormAgree {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.authFormItemCheckbox {
  width: 100%;
  margin-right: auto;
}

.createQuizFormQuestions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editCVSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createQuizForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width < 920px) {
  .authInput, .authButton {
    width: $inputWidthMobile;
  }
}
