@import "styles/colors";

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.text-white {
  color: $color-white;
}

.text-red {
  color: $color-red;
}

.text-green {
  color: $color-green;
}

.text-bold {
  font-weight: bold;
}

.position-right-bottom {
  right: 50px;
  bottom: 100px;
}

.w-80 {
  width: 80%;
}
