@font-face {
  font-family: 'MontserratRegular';
  src: url("montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: url("montserrat/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url("montserrat/Montserrat-Semibold.ttf") format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url("montserrat/Montserrat-Bold.ttf") format('truetype');
}
