@import "styles/labels";
@import "styles/colors";

.quizPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

.quizPageHeader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.quizPageTitle {
  font-family: $montserratBold;
  font-size: 36px;
}

.quizPageDescription {
  font-size: 24px;
}

.quizPageTimer, .quizPageTimer .ant-statistic-content span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: fit-content;
  color: $primary;
  font-family: $montserratBold;
  font-size: 32px;
}
