@import "assets/fonts/fonts";
@import "styles/spin";
@import "styles/input";
@import "styles/message";
@import "styles/select";
@import "styles/datePicker";
@import "styles/button";
@import "styles/drawer";
@import "styles/modal";
@import "styles/goBackButton";
@import "styles/colors";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: MontserratMedium, sans-serif;
    color: $regularText;

    word-wrap: break-word;
    word-break: break-word;
}

#root {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background: url("assets/img/main-background.jpg");
    background-size: cover;
}
